<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h2>Processing Payment...</h2>
    <script>
        var options = {
            "key": "{{ key_id }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "Rajguru Store",
            "description": "Order Payment",
            "image": "/static/img/logo.png",  // Optional
            "order_id": "{{ order['id'] }}",
            "handler": function (response){
                fetch("/payment_success", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(response)
                }).then(() => window.location.href = "/payment_success");
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp = new Razorpay(options);
        rzp.open();
    </script>
</body>
</html>
